header {
    background-color: navy;
    color:aliceblue;
    height: 10rem;
    text-align: center;
    padding-top: 2.5rem;
    margin-bottom: 5rem;
}

#previous-cities {
    margin-top: 2rem;
}

#search-form {
    margin: 2rem 1rem 0;
}

#five-day {
    display: flex;
}

@media screen and (max-width: 1630px) {

    .search-form {

    }

    #current-weather-card {

    }

    #five-cards {
        
    }
}

@media screen and (max-width: 1135px) {

    .search-form {

    }

    #current-weather-card {

    }

    #five-cards {
        
    }
}

@media screen and (max-width: 630px) {

    .my-container {
        display: flex;
        justify-content: center;
    }

    #current-weather-card {
        width: 100vw;
    }

    .five-cards {
        
        
        width: 95vw;
    }
}

